.notifications {
  background-color: rgb(25, 25, 25);
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.notification:last-child {
  border-bottom: none;
}

.notification__content {
  flex-grow: 1;
  padding: 0 15px;
}

.notification__content p {
  color: snow;
}

.notification span {
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.notification:hover span {
  opacity: 1;
}
