* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #181a1b;
}

#container {
  height: 50vh;
  width: 50vh;
}

#container input {
  width: 100%;
  padding: 10px 20px;
  line-height: 25px;
  font-size: 24px;
  box-shadow: 0 0 15px black;
  border: none;
  border-radius: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}

#container input:focus {
  border-radius: 20px 20px 0px 0px;
  outline: none;
}

ul {
  width: 100%;
  list-style: none;
  background-color: rgba(250, 250, 250, 0.1);
  color: white;
  padding: 10px 10px;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  font-size: 20px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}

ul li {
  cursor: pointer;
  padding: 5px 10px;
}

ul li:hover {
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.2);
}
