<form action="/recipe"method="post">
  <input type="text" name="name" placeholder="What recipe would you like to add ?">
  <textarea name="description" placeholder="Describe that recipe a bit." cols="30" rows="10"></textarea>
  <input type="number" name="rating" placeholder="Rating out of 5">
  <input type="text" name="time" placeholder="How long does it take to prepare ?">
  <input type="submit">
</form>
